<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#37003D">
    <meta name="description" content="Resto-Keva Damar Galih, restaurant viral, resto finder, restaurant mewah, resto murah, restaurant serba ada, google, nasi padang" />
    <meta name="author" content="keva damar galih">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" href="/icons/icon-192x192.png">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
    <title>K-Resto</title>
    <link rel="manifest" href="manifest.json">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
</head>

<body>
    <skip-content></skip-content>
    <!-- Header Navigation -->
    <app-bar></app-bar>

    <!-- main content -->
    <main-content></main-content>

    <!-- Footer -->

    <footer-bar></footer-bar>
</body>

</html>