img {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.skip-to-content {
  position: absolute;
  top: -100px;
  left: 0;
  background-color: #178fbf;
  color: white;
  padding: 10px;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
}
.skip-to-content:focus {
  top: 100px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container-fluid {
  margin: 0 15rem 0 15rem;
}
.container {
  width: 100%;
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 380px;
  background-position: center;
  background-color: Black !important;
}

.d-flex-menus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.d-flex-end-w {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.p-rl-15 {
  padding: 0 15rem 0 15rem;
}

.p-all-16 {
  padding: 16px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-15 {
  margin-bottom: 15px;
}

.bg-steelblue {
  background-color: steelblue;
}

.font-med {
  font-size: 1.2em;
}

.font-high {
  font-size: 2.2em;
}

.text-center {
  text-align: center;
}

.infor-css {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
}
.infor-css-on {
  -webkit-line-clamp: 15;
}

.infor-css-off {
  -webkit-line-clamp: unset;
}

.button-detail {
  border: none;
  padding: 0px;
  background-color: transparent;
  margin-top: 4px;
  color: steelblue;
  font-size: 0.857143rem;
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
}

/* header navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  visibility: visible;
}

.nav-item {
  margin-left: 5rem;
  min-width: 44px;
  min-height: 44px;
  padding-top: 12px;
}

.nav-item a {
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
  padding-top: 11px;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
}

.nav-link:hover {
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: whitesmoke;
  min-width: 44px;
  min-height: 44px;
  padding-top: 12px;
}

/* hamburger menu */
.hamburger {
  display: none;
  padding-top: 12px;
  min-width: 44px;
  min-height: 44px;
  background-color: steelblue;
  border: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* main */
main-content {
  flex: 1;
  width: 100%;
  margin: 0 auto;
}

.body-content {
  padding: 15px;
  width: 100%;
  text-align: center;
}

section {
  width: 100%;
}

.list {
  margin: 32px auto auto;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 16px;
}

.item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.item-image {
  width: 100%;
  height: 270px;
  object-fit: cover;
  object-position: center;
}

.item-rating {
  margin-left: 2px;
  border-radius: 5px;
  background-color: #26cbf5;
  padding: 5px 10px 5px;
  color: white;
  font-weight: 500;
}

.item-city {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.item-title {
  font-size: 2.2rem;
  font-weight: 700;
  padding: 10px 0;
  margin: 10px 0;
  transition: 0.3s opacity;
}
.item-description {
  font-size: 12px;
  line-height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.item-detail-review {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; /* number of lines to show */
  overflow: hidden;
  word-break: break-word;
}

.info-tag-detail {
  font-size: 1.4em;
  padding-bottom: 5px;
  border-bottom: 1px solid steelblue;
  color: steelblue;
  text-align: center;
}

/* footer */
footer {
  display: block;
  padding: 2em;
  text-align: center;
  color: whitesmoke;
}

/*
   Like
*/
.like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #db0000;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
}
